<div class="container mt-5 animate fast fadeIn">
    <h1>
        Sobre Comic
    </h1>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus repudiandae molestias eum, animi a necessitatibus! Excepturi veritatis autem placeat nostrum, omnis dolorum blanditiis et maiores commodi impedit nam, ipsam neque. Lorem ipsum dolor, sit
        amet consectetur adipisicing elit. Inventore voluptatibus consequatur vitae delectus fuga aut veniam, ea praesentium, reprehenderit ipsam consequuntur quis similique dolores cupiditate tempora exercitationem ullam? Magnam, ducimus.
    </p>
</div>